body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', cursive;
  color: #011936;
  background-color: #F4FFFD;
}

.App {
	margin: 100px;
}

.button {
	display: inline-block;
	padding: 12px 16px;
	background-color: #F9DC5C;
	cursor: pointer;
	font-weight: 600;
}

.button:hover {
	background-color: #ED254E;
}

h1 {
	font-size: 3em;
}