html {
	/* background-image: url('./assets/ep_naturalblack.png') */
	background-color: #FF9770;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', cursive;
  color: #E9FF70;

}

.App {
	margin: 100px;
}

.brag-container {
	background-color: #FF70A6;
	padding: 2em	
}

.button {
	display: inline-block;
	padding: 12px 16px;
	margin-right: 2em;
	background-color: #70D6FF;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.5em;
}

.button:hover {
	background-color: #5CB0D1;
}

h1 {
	font-size: 3em;
}